<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Registrasi_Pasien.Properties.Settings.RegistrasiPasienConnectionString"
            connectionString="Data Source=DESKTOP-42D30BD\SQLEXPRESS2019;Initial Catalog=RegistrasiPasien;User ID=sa;Password=1221"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>